.custom-metadata-field {margin-bottom: 7px;}
.custom-metadata-field label {font-size: 12px; font-weight: bold;}
.custom-metadata-field .description {font-size: 11px;}
.custom-metadata-field input[type=text], .custom-metadata-field input[type=url], .custom-metadata-field input[type=password], .custom-metadata-field input[type=email] {width: 200px;}
.custom-metadata-field.textarea, .custom-metadata-field.tinymce {margin: 25px 0;}
.custom-metadata-field textarea {width: 400px; height: 100px; margin: 5px 0;}
.custom-metadata-field.textarea .description {display: block; margin-bottom: 10px}
.custom-metadata-field .theEditor {position: relative; top: -5px;}
.custom-metadata-field .del-multiple {color: red;}

.editorbuttons { margin-bottom: 0 !important; }
.edButtonPreview, .edButtonHTML { height:18px; margin:5px 5px 0 0; padding:4px 5px 2px; float:right; cursor:pointer; border: 1px solid #DFDFDF; -moz-border-radius:3px 3px 0 0; -webkit-border-top-right-radius:3px; -webkit-border-top-left-radius:3px; -khtml-border-top-right-radius:3px; -khtml-border-top-left-radius:3px; border-top-right-radius:3px; border-top-left-radius:3px; background-color: #F1F1F1; color: #999; }
.editorbuttons .active { background-color: #E9E9E9; border-bottom-color: #E9E9E9; color: #333; }

/* tb window fix */
#TB_window #TB_title {display: none;}
#TB_window #TB_title:first-child {display: block;}

.user-metadata-group {}
.user-metadata-group .custom-metadata-field label {color: #222; display: block; text-align: left; vertical-align: top; width: 200px; font-size: 13px; line-height: 24px; float: left;}
.user-metadata-group .custom-metadata-field input[type=text], .user-metadata-group .custom-metadata-field input[type=url], .user-metadata-group .custom-metadata-field input[type=password], .user-metadata-group .custom-metadata-field input[type=email] {width: 25em;} 
.user-metadata-group .custom-metadata-field textarea {width: 25em;}
.user-metadata-group .custom-metadata-field .description {margin-left: 200px;}